@model LMS_Project.ViewModels.StudentsInLesson

    <table class="table">
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Students.First().FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students.First().LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students.First().BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students.First().Email)
            </th>
            <th>
                @Html.DisplayName("Phone Number")
            </th>
        </tr>

        @for (int i = 0; i < Model.Students.Count(); i += 1)
        {
            <tr>
                <td class="editor-field">
                    @{if (Model.InLesson.Contains(Model.Students[i].Id))
                    {
                        <input type="checkbox"
                               name="InLesson"
                               value="@Model.Students[i].Id"
                               id="@Model.Students[i].Id"
                               checked="checked" />
                    }
                    else
                    {
                        <input type="checkbox"
                               name="InLesson"
                               value="@Model.Students[i].Id"
                               id="@Model.Students[i].Id" />
                    }
                    }
                    @Html.ValidationMessageFor(modelItem => modelItem.InLesson[i])
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Students[i].FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Students[i].LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Students[i].BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Students[i].Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Students[i].PhoneNumber)
                </td>
            </tr>
        }

    </table>
