@{
    ViewBag.Title = "Create";
}

<h2>Create a new Schedule</h2>

<div class="form-horizontal"
     ng-app="schedule"
     ng-controller="schedulesController"
     ng-init="init()">


    @Html.Partial("_CreateEdit")

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" ng-click="sendData()" />
            </div>
        </div>
    </div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angularschedules")
}
