@model IEnumerable<LMS_Project.Models.LMS.Schedule>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Classroom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course.Teacher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WeekDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BeginningTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndingTime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Classroom.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Subject.Name)
            </td>
            <td>
                @Html.DisplayName(item.Course.Teacher.ToString())
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeekDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeginningTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndingTime)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
