@model LMS_Project.Models.LMS.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Model.UserName</h4>
    <hr />
    <div class="index-table">
        <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.LabelFor(model => model.PhoneNumber, "Phone Number")
                </th>
                @{if (Model.Courses != null && Model.Courses.Count > 0)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.Courses)
                    </th>
                }}
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Email)
                </td>
                <td>
                    @Html.DisplayFor(model => model.PhoneNumber)
                </td>
                @{if (Model.Courses != null && Model.Courses.Count > 0)
                {
                    <td>
                        @Html.DisplayFor(model => model.Courses.First().Subject.Name)
                    </td>
                }}
            </tr>
        </table>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
