@model LMS_Project.ViewModels.PartialUserVM

@{
    ViewBag.Title = "Details";
}

@{string title = Model.FirstName + " " + Model.LastName;
    if (title.Trim().Length == 0)
    {
        // Default title in case of empty first name and last name
        title = "Details";
    }
}
<h2>@title</h2>

<div class="form-horizontal">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayName("Phone Number")
            </th>
            <th>
                @Html.DisplayName("Role")
            </th>
            @{if (Model.Courses != null && Model.Courses.Count > 0)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.Courses)
                    </th>
                }}
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.UserName)
            </td>
            <td>
                @Html.DisplayFor(model => model.FirstName)
            </td>
            <td>
                @Html.DisplayFor(model => model.LastName)
            </td>
            <td>
                @Html.DisplayFor(model => model.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(model => model.Email)
            </td>
            <td>
                @Html.DisplayFor(model => model.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(model => model.Role)
            </td>
            @{if (Model.Courses != null && Model.Courses.Count > 0)
                {
                    <td>
                        @Html.DisplayFor(model => model.Courses)
                    </td>
                }}
        </tr>
    </table>
</div>

<p>
    @if (Model.IsEditable)
    {
        @Html.ActionLink("Edit", "Edit", "Account", new { id = Model.Id }, null)<text> | </text>
    }
    @Html.ActionLink("Back to List", "Index")
</p>
