@model IEnumerable<LMS_Project.ViewModels.ExtendedUserVM>

@{
    ViewBag.Title = "Users";
}

<h2>Users actually registered</h2>

<p>
    @Html.ActionLink("Create New User", "Register", "Account", null, null)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th>
            @Html.DisplayName("First Name")
        </th>
        <th>
            @Html.DisplayName("Last Name")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Email)
        </th>
        <th>
            @Html.DisplayName("Phone Number")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.BirthDate)
        </th>
        <th>
            @Html.DisplayName("Role")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit","Account", new { id = item.User.Id }, null) |
                @Html.ActionLink("Details", "Details", new { id = item.User.Id }) |
                @Html.ActionLink("Reset password", "ResetPassword", new { id = item.User.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.User.Id })
            </td>
        </tr>
    }

</table>
