@model LMS_Project.Models.LMS.Grade

@{
    ViewBag.Title = "Details";
}

<h2>Grade</h2>

<div>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Document.DocumentName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AGrade)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Document.DocumentName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.AGrade)
                </td>
            </tr>
        </tbody>
    </table>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to Grades", "Index")
</p>
