@model LMS_Project.Models.LMS.Course


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal" ng-app="LMSApp" ng-controller="Course_Create_Ctrl">
        <h4>Course</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Subject, "Subject", htmlAttributes: new { ng_click = "SortList('subjects')", @style = "cursor:pointer;", @class = "control-label" })
            <div class="row">
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.SubjectID, new SelectList(ViewBag.Subjects, "ID", "Name"), htmlAttributes: new { ng_model = "selectedSubject", ng_change = "Update()", @id = "subjects", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SubjectID, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TeacherID, "Teacher", htmlAttributes: new { ng_click = "SortList('teachers')", @style = "cursor:pointer;", @class = "control-label" })
            <div class="row">
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.TeacherID, new SelectList(ViewBag.Teachers, "Id", "UserName"), htmlAttributes: new { @id = "teachers", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TeacherID, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group" ng-init="Start()">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
            @ViewBag.EMessage
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angularcourses")
}
