@model LMS_Project.Models.LMS.Course

<div>
    <h4>CoursesVM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teacher)
        </dt>

        <dd>
            @Html.DisplayName(Model.Teacher.ToString())
        </dd>

    </dl>
</div>
<p>
    @if (Model.Documents.Count() + Model.Schedules.Count() == 0)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID })<text> | </text>
    }
    @Html.ActionLink("Back to List", "Index")
</p>
