@model LMS_Project.ViewModels.CoursesVM

<div>
    <h4>CoursesVM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Subject.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teacher.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teacher.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
