@model LMS_Project.ViewModels.CoursesVM

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<form action="../Edit/" method="POST">
    @Html.AntiForgeryToken()

    <div class="form-horizontal" ng-app="LMSApp" ng-controller="Course_Edit_Ctrl" ng-cloak>
        <h4>Course</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

            <div class="form-group" ng-init="Start('@Html.ValueFor(m=>m.SubjectID)')">
                @Html.LabelFor(model => model.Teacher.UserName, "Teacher", htmlAttributes: new { ng_click="orderByMe('LastName')", @class = "control-label col-md-2" })
                <div class="row">
                    <div class="col-md-10">
                        <input name="name" value="@Html.ValueFor(m=>m.Name)" class="form-control" placeholder="Enter a course name here" required/>
                    </div>
                </div>               
                <div class="row">
                    <div class="col-md-10">

                        <select name="tID" ng-model="selectedTeacher" class="form-control">
                            <option ng-repeat="teacher in teachers | orderBy:myOrderBy:reverse" value="{{teacher.Id}}">{{teacher.FirstName}} {{teacher.LastName}}</option>
                        </select>
                        <input type="hidden" name="sID" value="@Html.ValueFor(m=>m.SubjectID)"/>
                        <input type="hidden" name="id" value="@Html.ValueFor(m=>m.ID)" />
                    </div>
                </div>
            </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Edit" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angularcourses")
}
