@model LMS_Project.Models.LMS.Notification

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Notification</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Grade.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grade.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SendingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SendingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReadinggDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReadinggDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
