@model LMS_Project.Models.LMS.Document

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Document</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.TeacherID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.TeacherID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Uploader.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uploader.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VisibleTo.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisibleTo.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UploadingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UploadingDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
