@model IEnumerable<LMS_Project.Models.LMS.Document>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Course.Subject)
        </th>
        <th>
            @Html.DisplayName("Uploader's name")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VisibleFor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocumentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UploadingDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Subject.Name)
            </td>
            <td>
                @if (item.Uploader != null)
                {@Html.DisplayName(item.Uploader.ToString())
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisibleFor.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploadingDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
