@model LMS_Project.Models.LMS.News

@{
    ViewBag.Title = "Delete a News";
}

<h2>Are you sure you want to delete this News?</h2>

<div>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PublishingDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Content)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Publisher)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Publisher.Email)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.PublishingDate)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Title)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Content)
                </td>
                <td>
                    @Html.DisplayName(Model.Publisher.ToString())
                </td>
                <td>
                    @Html.DisplayFor(model => model.Publisher.Email)
                </td>
            </tr>
        </tbody>
    </table>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back to News", "AdminIndex")
    </div>
}
