@model LMS_Project.Models.LMS.News

<div>
    <h4>News</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Publisher.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publisher.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublishingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublishingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
