@model IEnumerable<LMS_Project.Models.LMS.News>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Publisher.Email)
            </th>
            <th>
                @Html.DisplayName("Publisher's name")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishingDate)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>

@foreach (var item in Model) {
    
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher.Email)
            </td>
            <td>
                @Html.DisplayName(item.Publisher.ToString())
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishingDate)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
        }
    </tbody>
    

</table>
