@model IEnumerable<LMS_Project.Models.LMS.News>

@{
    ViewBag.Title = "News";
}

<div class="container-fluid background-news ">

    <div class="row">
        <div class="col-md-2 col-md-offset-5">
            <div class="news">
                <h1>News</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            @foreach (var item in Model)
            {
                <div class="news-post border">
                    <div class=" col-md-2 postDate ">
                        @Html.DisplayName(item.PublishingDate.ToString("MMM, dd yyyy"))
                    </div>

                    <div class=" col-md-12 col-md-offset-1 news-title">
                        @Html.DisplayFor(modelItem => item.Title)
                    </div>

                    <div class=" col md-12 col-md-offset-0 news-content">

                        <div class="readMore">
                            <a data-toggle="collapse" data-target="#@item.ID">Read more</a>
                        </div>

                        <div id="@item.ID" class="collapse">
                            <div>
                                @Html.DisplayFor(modelItem => item.Content)
                                @if (!item.AnonymousPublisher)
                                {
                                    <div class=" col-md-4 publisher">
                                        <span> Published by : </span>
                                        @Html.DisplayName(item.Publisher.ToString())
                                        
                                    </div>
                                }


                                
                                @if (item.EditedBy != null)
                                {
                                    <div class="editedBy">
                                        <label> Edited By :</label>
                                       
                                        @Html.DisplayName(item.EditedBy.ToString())
                                        @Html.DisplayName(((DateTime)item.EditedDate).ToString("MMM, dd yyyy"))
                                    </div>
                                }
                            </div>
                        </div>

                        

                    </div>

                </div>
            }
        </div>
    </div>

</div>









