@using LMS_Project.Models.LMS
@model Schedule

@{
    ViewBag.Title = "Detailed Schedule";
}

<h2>Detailed Schedule</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WeekDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeekDay)
        </dd>

        <dt>
            @Html.DisplayName("Time")
        </dt>

        <dd>
            @Html.DisplayName(Model.BeginningTime + "-" + Model.EndingTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Subject.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Classroom)
        </dt>

        <dd>
            @{string remarks = Model.Classroom.Remarks;
            if (remarks != null && remarks.Length > 0)
            {
                remarks = " - " + remarks;
            }
            }
            @Html.DisplayName(Model.Classroom.Name + " (" + Model.Classroom.Location + ")" + remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Students)
        </dt>

        <dd>
            <div class="container" style="padding:0">
                <ul class="list-group list-unstyled">
                    @foreach (User student in Model.Students.OrderBy(s => s.LastName).ThenBy(s => s.FirstName))
                    {
                        <li>
                            @Html.DisplayName(student.ToString())
                        </li>
                    }
                </ul>
            </div>
        </dd>

        <dt>
            @Html.DisplayName("Related Documents")
        </dt>

        <dd>
            <div class="container" style="padding:0">
                <ul class="list-group list-unstyled">
                    @foreach (Document document in ViewBag.Documents)
                    {
                        <li>
                            @Html.DisplayFor(modelItem => document.DocumentName)
                        </li>
                    }
                </ul>
            </div>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Planning")
</p>
